body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt {
    white-space: normal;
    border-bottom: 1px solid #ccc;
}

.dl-horizontal dd {
    white-space: normal;
    margin-bottom: 0;
    border-bottom: 1px solid #ccc;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Fancy navbar hover stuff */
.navbar {
    background-color: #3B3F65;
}

.nav-item {
    color: #EFF0F0;
    display: inline-block;
    position: relative;
}

    .nav-item::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: white;
        transform-origin: bottom right;
        transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
    }

    .nav-item:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

.dropdown-item:active {
    color: black;
}

.dropdown-item:hover {
    background-color: #e8e8e8;
}

.dropdown-toggle::after {
    margin-left: -.1em;
    border: 0;
}

input[readonly].form-control {
    background-color: #DEDEDE;
    color: #424242;
}

#searchString {
    width: 100%;
}