@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
    ASC Machine Tools Inc.<br />
    900 N. Fancher Road<br />
    Spokane, Wash. 99211<br />
</address>

<address>
    <strong>Report any issues with the coil tracker, or help with login:</strong>
    <a href="mailto:pton@ascmt.com">pton@ascmt.com</a>
    <br />
</address>

<p>Copyright 2021 - Phi Ton and Bryan Doramus</p>

@if (Session["Email"] == null)
{
    @Html.ActionLink("Back to Login", "Login", "Home", null, new { @class = "btn btn-primary" })
}